body {
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 242, 240);
    border: rgb(237, 226, 215);
    border-style:solid;
    box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.25);
    max-width: 1250px;
    padding: 40px;
    margin: 20px auto;
    }
